<template>
  <div class="card w-100">
    <div class="card-body">
      <form @submit.prevent="submit()">
        <div class="form-group">
          <label for="username">Ваше имя</label>
          <input
            type="text"
            class="form-control"
            id="username"
            v-model="username"
            :class="{ 'is-invalid' : errors.username }"
            required
            :disabled="processing"
          />
        </div>

        <div class="form-group">
          <label for="description">Отзыв</label>
          <textarea
            class="form-control"
            id="description"
            rows="4"
            v-model="description"
            :class="{'is-invalid':errors.description}"
            maxlength="500"
            required
            :disabled="processing"
          ></textarea>
        </div>
      </form>

      <span v-if="typeof description === 'string'">
        <small class="text-muted" v-if="!description.length">Не более 500 символов</small>
        <small
          class="text-muted"
          v-show="description"
          v-else
        >Осталось символов: {{ 500 - description.length }}</small>
      </span>

      <button
        type="button"
        class="btn btn-success float-right"
        :disabled="!username || !description || processing"
        @click.prevent="submit()"
      >Опубликовать</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: "",
      description: "",
      processing: false,
      errors: {
        username: false,
        description: false
      }
    };
  },
  methods: {
    submit() {
      this.errors = {
        name: false,
        description: false
      };

      if (!this.username) {
        this.errors.username = true;
      }

      if (!this.description) {
        this.errors.description = true;
      }

      if (this.username && this.description) {
        const { username, description } = this;

        axios
          .post("/api/comments", { username, description })
          .then(response => {
            this.processing = false;
            this.$root.$emit("addComment", response.data);
            this.username = "";
            this.description = "";
          })
          .catch(error => {
            console.error(error);
          });
      }
    }
  }
};
</script>
