<template>
  <div class="w-100" v-if="comments.length">
    <div class="card w-100 mb-2" v-for="(item, index) in comments" :key="index">
      <div class="card-body">
        <h5 class="card-title">{{ item.username }}</h5>
        <p class="card-text">{{ item.comment }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ item.created_at }}</small>
        <a href class="float-right" @click.prevent="deleteComment(item)">Удалить</a>
      </div>
    </div>
  </div>
  <div v-else class="text-center w-100">No comments :(</div>
</template>

<script>
export default {
  data() {
    return {
      comments: []
    };
  },
  mounted() {
    axios
      .get("/api/comments")
      .then(response => (this.comments = response.data));

    this.$root.$on("addComment", comment => {
      this.comments.unshift(comment);
    });
  },
  methods: {
    deleteComment(comment) {
      axios.delete("/api/comments/" + comment.id).then(response => {});

      this.comments.splice(
        this.comments.findIndex(item => item.id === comment.id),
        1
      );
    }
  }
};
</script>
